USE [master]
GO
/****** Object:  Database [CC]    Script Date: 07/10/2012 01:56:16 ******/
CREATE DATABASE [CC] ON  PRIMARY 
( NAME = N'CC', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\CC.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CC_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\CC_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CC]
GO
/****** Object:  Table [dbo].[Candidato]    Script Date: 07/10/2012 01:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidato](
	[Candidato] [nvarchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Candidato] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Acta]    Script Date: 07/10/2012 01:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acta](
	[Nombre] [nvarchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Transcripciones] [int] NULL,
 CONSTRAINT [PK_Acta] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Acta] ON
INSERT [dbo].[Acta] ([Nombre], [ID], [Transcripciones]) VALUES (N'GUANAJUATO - 0491 Básica.jpg', 1113, NULL)
INSERT [dbo].[Acta] ([Nombre], [ID], [Transcripciones]) VALUES (N'GUANAJUATO - 0490 Contigua 1.jpg', 1114, NULL)
INSERT [dbo].[Acta] ([Nombre], [ID], [Transcripciones]) VALUES (N'GUANAJUATO - 0490 Básica.jpg', 1115, NULL)
SET IDENTITY_INSERT [dbo].[Acta] OFF
/****** Object:  Table [dbo].[Usuario]    Script Date: 07/10/2012 01:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Nick] [nvarchar](50) NULL,
	[email] [nvarchar](120) NULL,
	[Password] [nvarchar](20) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON
INSERT [dbo].[Usuario] ([Nick], [email], [Password], [ID]) VALUES (N'Anonymous', N'anonymous@gmail.com', N'1234', 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
/****** Object:  Table [dbo].[Transcripcion]    Script Date: 07/10/2012 01:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transcripcion](
	[FechaHora] [datetime] NULL,
	[UsuarioID] [int] NULL,
	[PAN] [int] NULL,
	[PRI] [int] NULL,
	[PRD] [int] NULL,
	[VERDE] [int] NULL,
	[PT] [int] NULL,
	[MC] [int] NULL,
	[NA] [int] NULL,
	[PRI_VERDE] [int] NULL,
	[PRD_PT_MC] [int] NULL,
	[PRD_PT] [int] NULL,
	[PRD_MC] [int] NULL,
	[PT_MC] [int] NULL,
	[NR] [int] NULL,
	[VN] [int] NULL,
	[TOTAL] [int] NULL,
	[ActaID] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Transcripcion] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partido]    Script Date: 07/10/2012 01:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Partido](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NULL,
	[CandidatoID] [int] NULL,
 CONSTRAINT [PK_Partido] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_Transcripcion_Acta]    Script Date: 07/10/2012 01:56:19 ******/
ALTER TABLE [dbo].[Transcripcion]  WITH CHECK ADD  CONSTRAINT [FK_Transcripcion_Acta] FOREIGN KEY([ActaID])
REFERENCES [dbo].[Acta] ([ID])
GO
ALTER TABLE [dbo].[Transcripcion] CHECK CONSTRAINT [FK_Transcripcion_Acta]
GO
/****** Object:  ForeignKey [FK_Transcripcion_Usuario]    Script Date: 07/10/2012 01:56:19 ******/
ALTER TABLE [dbo].[Transcripcion]  WITH CHECK ADD  CONSTRAINT [FK_Transcripcion_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[Transcripcion] CHECK CONSTRAINT [FK_Transcripcion_Usuario]
GO
/****** Object:  ForeignKey [FK_Partido_Candidato]    Script Date: 07/10/2012 01:56:19 ******/
ALTER TABLE [dbo].[Partido]  WITH CHECK ADD  CONSTRAINT [FK_Partido_Candidato] FOREIGN KEY([CandidatoID])
REFERENCES [dbo].[Candidato] ([ID])
GO
ALTER TABLE [dbo].[Partido] CHECK CONSTRAINT [FK_Partido_Candidato]
GO
