<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=tcp:X; Initial Catalog=X;User ID=X;Password=X;Encrypt=true;Trusted_Connection=false;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="CCConnectionString" connectionString="Data Source=tcp:X; Initial Catalog=X;User ID=X;Password=X;Encrypt=true;Trusted_Connection=false;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=X;AccountKey=XXX"/>
    <add key="BlobURL" value="X"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

   

 

 

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
